<ion-header>
  <ion-toolbar>
    <ion-title>Porovnávač cest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Vyberte dvě cesty k porovnání</h2>

  <ion-item>
    <ion-label>První cesta</ion-label>
    <ion-select [(ngModel)]="trip1">
      <ion-select-option *ngFor="let t of trips" [value]="t">
        {{ t.from }} → {{ t.to }} ({{ t.formattedDate }})
      </ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item>
    <ion-label>Druhá cesta</ion-label>
    <ion-select [(ngModel)]="trip2">
      <ion-select-option *ngFor="let t of trips" [value]="t">
        {{ t.from }} → {{ t.to }} ({{ t.formattedDate }})
      </ion-select-option>
    </ion-select>
  </ion-item>
  

  <ion-button expand="full" (click)="compareTrips()">Porovnat</ion-button>

  <h3>Výsledek</h3>
  <p>{{ result }}</p>
</ion-content>
